.chat-container{
    padding: 30px;
}

.menu-container{
    padding: 30px;
}

.sale-info-container{
    padding: 50px;
}

.no-addresses-container{
    padding: 30px;
}

.chat {
    overflow-x: hidden !important;
    height: 300px;
    overflow: scroll;
    padding: 10px;
  }
  
.sale-log-container{
    padding: 20px;
}


.sale-release-info{
    padding: 30px;
}

.sale-button-container{
    padding:5px;
}