.profile-avatar-container{
 padding: 50px;
}

.profile-menu-container{
    padding: 30px;
}

.profile-menu-button{
    margin: 20px;
    width: 250px;
    
}

.address-td{
  padding: 10px;
}

.address-modal-body{
  padding: 20px;
}

.no-addresses-container{
  padding: 30px;
}




