/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* .custom-container{

  background-color: silver;
} */

* {
  border-radius: 0 !important;
}
*:focus {
  box-shadow: none !important;
}

body {
  /* background-color: #EDFFEC;  */
  background-color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h5 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
}

.transparent-border {
  white-space: nowrap;
  overflow: hidden;

  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  text-overflow: ellipsis;
}

.spinner-border {
  border-radius: 50% !important;
}

.property-text {
  margin: 30px;
  font-family: "Oxanium";
  font-weight: bold;
}

.property-text-lm {
  margin: 10px;
  font-family: "Oxanium";
  font-weight: bold;
}


.property-text-nm {
  font-family: "Oxanium";
  font-weight: bold;
}

.thumbnail-image{
  border: 1px solid #ddd; /* Gray border */
  border-radius: 50% !important;  /* Rounded border */
  padding: 5px;
}

.thumbnail-image:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

td{

  padding: 10px;

}

.normal-tbody {
  display:block;
  overflow-y: scroll;
  height: calc(100% - 130px);
  display: table-row-group;
}

.btn-spr{
  margin-right: 10px;
}


.full {
  width: 100%;    
}
.gap {
height: 30px;
width: 100%;
clear: both;
display: block;
}
.footer {
background: black;
height: auto;
padding-bottom: 30px;
position: relative;
width: 100%;
border-bottom: 1px solid #CCCCCC;
border-top: 1px solid #DDDDDD;
}
.footer p {
margin: 0;
}
.footer img {
max-width: 100%;
}
.footer h3 {
color: white;
font-size: 18px;
font-weight: 600;
line-height: 27px;
padding: 40px 0 0px;
text-transform: uppercase;
margin-bottom: 15px;
}

.footer h4 {
color: white;
font-size: 2em;
font-weight: 600;
line-height: 38px;
padding: 40px 0 10px;
font-family: cursive;
font-weight: lighter
}

.footer ul {
font-size: 13px;
list-style-type: none;
margin-left: 0;
padding-left: 0;
margin-top: 0px;
color: #7F8C8D;
padding: 0 0 8px 0;
}

.email{
border-bottom: 3px solid #fff;
}
.footer ul li a {
padding: 0 0 12px 0;
display: block;
}
.footer a {
color: white;
font-weight: lighter;
}

.footer p {
color: white;
font-weight: lighter;
font-size :10px;
}

.footer a:hover {
text-decoration:none;
font-weight: bold;
}
.supportLi h4 {
font-size: 20px;
font-weight: lighter;
line-height: normal;
margin-bottom: 0 !important;
padding-bottom: 0;
}

.bg-gray {
background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
box-shadow: 0 1px 0 #B4B3B3;
}


.footer a {
color: #78828D
}

.footer-bottom {
margin-top: 2em;
border-top: 1px solid #DDDDDD;
border-bottom: 1px solid #DDDDDD;
padding-top: 20px;
padding-bottom: 10px;
}
.footer-bottom p.pull-left {
padding-top: 6px;
font-size: 0.75em
}


.tag {
	display: inline-block !important;
  
  width: auto;
	height: 38px;
	
	background-color: lime;
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;
	
	border-left: 1px solid #979797;

	/* This makes room for the triangle */
	margin-left: 19px;
	
	position: relative;
	
	color: white;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	line-height: 38px;

	padding: 0 10px 0 10px;
}

/* Makes the triangle */
.tag:before {
	content: "";
	position: absolute;
	display: block !important;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid lime;
}

/* Makes the circle */
.tag:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block !important;
	position: absolute;
	left: -9px;
	top: 17px;
}

hr {
  border-style:solid 3px;
  border-color: white;
}