/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* .custom-container{

  background-color: silver;
} */

* {
  border-radius: 0 !important;
}
*:focus{
  box-shadow: none !important;
}

body{
   /* background-color: #EDFFEC;  */
   background-color:white;
 
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

h5{
  font-family: "Arial Black", Gadget, sans-serif;
  font-size:20px;
}

.transparent-border{
  white-space: nowrap;
    overflow: hidden;
    
    border-left:1em solid transparent;
    border-right:1em solid transparent;
    text-overflow: ellipsis;
}

.spinner-border{
  border-radius: 50% !important;
}