.profile-avatar-container{
 padding: 50px;
}

.profile-menu-container{
    padding: 30px;
}

.profile-menu-button{
    margin-left: 20px;
    margin-right: 20px;
}

.address-td{
  padding: 10px;
}

.address-modal-body{
  padding: 20px;
}

.no-addresses-container{
  padding: 30px;
}

.user-tbody {
  display:block;
  overflow-y: scroll;
  height: calc(100% - 130px);
  display: table-row-group;
}


