.server-notification {
  margin-bottom: 0px;
  width: 100%;
}

.server-notification-wrapper {
  margin-bottom: 20px;
}

.toast-notification {
  animation: fadeIn 1s ease-in both !important;
}

.dev-notification {
  color: white !important;
  background-color: peru !important;
  
}

.sale-notification {
  
  background-color:#5ba6fc !important;
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
