a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

nav {
  background-color: black !important;
}

.navbar-toggler {
  background-color: black;
  border-style: solid;
  border-color: white !important;
  margin: 6px 0;
}

.navbar-link {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.user-dropdown {
  width: 97%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

a.text-light:hover {
  color: black !important;
}

a.text-light:focus {
  box-shadow: none !important;
}
